h1 {
    text-align: center;
}
nav{
    text-align: center;
}
nav ul{
    display: inline-block;
    margin: 0px;
}
nav li{
display: inline-block;
margin-inline: 20px;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
}